# Compiled source #
###################
*.o
*.so
*.a
*.c~
*.h~
*.log
log.*
pseudo_core_log.*
os_core_log.*
src/veos/veos
src/pseudo/ve_exec
revision.h
ve_syscall_no.h
ve_syscall_handler.h
pseudo_veos.pb-c.h
pseudo_veos.pb-c.c
GPATH
GRTAGS
GTAGS
CTAGS
cscope.out
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h.in*
/configure
/libtool
